@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
}

body,
html {
  background-color: #1a1a1a;
  font-family: 'Gamja Flower', cursive;
  color: #fff;
}
h1 {
  margin: 0;
}